<!DOCTYPE html>
{% extends "my_cv/base.html" %}
{% block title_info %}
Обо мне
{% endblock %}
{% block content %}
<p style="text-indent: 50px">Инженер-программист с 4-летним опытом работы в области информационных радиотехнологий (анализ сигнально-кодовых структур),
    datas science, нейронных сетей. Хорошо знаком с инструментами математического и компьютерного моделирования сложных технических
    систем, а также с различными языками программирования - Matlab, Python, немного C/C++.</p>
<p style="text-indent: 50px">В данный момент прохожу курс "Python разработчик" от школы программирования TeachMeSkills,
    где намереваюсь получить расширенные знания в области разработки web-приложений.</p>
{% endblock %}