<!DOCTYPE html>
{% extends "my_cv/base.html" %}
{% block title_info %}
Набор знаний и полезных навыков
{% endblock %}
{% block content %}
<p style="margin-bottom: 15px; font-size: 30px; font-weight: 600px">Hard-skills </p>
<ul style="margin-bottom: 30px">
	<li>Знания синтаксиса Python</li>
	<li>Работа с файлами: json, csv, xml</li>
	<li>Знания ООП</li>
	<li>Работа с фреймворками: Flask, Django</li>
	<li>Ведение Git: Gitlab, Github</li>
	<li>Работа с БД: mysql, sqlite, sqlalchemy, peewee</li>
	<li>Работа с массивами и табличными данными: Numpy, Scipy, Cython</li>
	<li>Работа с библиотеками анализа данных и статистики: Pandas, Matplotlib</li>
	<li>Опыт работы с библиотекой Cython</li>
	<li>Базовые знания html, css</li>
	<li>ОС: Linux, Windows</li>
</ul>
<table style="max-width: 600px; width: 100%; margin: 0 auto">
	<caption style="margin-bottom: 15px; font-size: 30px; font-weight: 600px">Soft-skills</caption>
<tr>
	<th>Навык</th>
	<th>Оценка</th>
</tr>
<tr>
	<td>Коммуникабельность</td>
	<td>4</td>
</tr>
<tr>
	<td>Стрессоустойчивость</td>
	<td>4</td>
</tr>
<tr>
	<td>Работа в команде</td>
	<td>5</td>
</tr>
<tr>
	<td>Способность к обучению</td>
	<td>5</td>
</tr>
<tr>
	<td>Адаптивность</td>
	<td>5</td>
</tr>
<tr>
	<td>Ответственность</td>
	<td>5</td>
</tr>
</table>
{% endblock %}