body {background-color: #eae7dc;}
/*сброс стидей браузера*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*стили для всей стр*/
.container {
  max-width: 1700px;
  padding: 0 15px;
  margin: 0 auto;
}
/*блок 1*/
.form__section {
  padding: 50px 0 50px;
}
/*форма*/
.form__comm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
