/*сброс стидей браузера*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*стили для всей стр*/
.container {
  max-width: 1700px;
  padding: 0 15px;
  margin: 0 auto;
}
/*блок 1*/
.image {
  background-color: #eae7dc;
  padding: 50px 0 50px;
}
/*две колонки в блоке 1*/
.container__image {
display: flex;
column-gap: 70px;
}
/*картинка*/
.image__wrapper-photo {
  width: 400px;
  height: 500px;
  margin-bottom: 10px;
}
.image__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*заголовок*/
.image__header {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  margin-bottom: 80px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8e8d8a;
}
/*текст под заголовком*/
.image__subtitle {
  text-align:center;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #8e8d8a;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 20px;
}
/*блок 2*/
.info {
  background-color: #eae7dc;
  padding: 0px 0 50px;
}
/*заголовок*/
.info__header {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 42px;
  margin-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
  color: #8e8d8a;
}
/*текст под заголовком*/
.info__subtitle {
  text-indent: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-align: justify;
  color: #8e8d8a;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 80px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*блок 3*/
.comments {
  background-color: #eae7dc;
  padding: 0px 0 50px;
  margin: 0 auto;
  text-align: center;

}
/*комментарии*/
.comments__text {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #8e8d8a;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 80px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container__comments {
  margin-bottom: 20px;
}
.comments__button {
  display: block;
  padding: 4px 0;
  border-radius: 10px;
  max-width: 230px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #eae7dc;
  background-color: #8e8d8a;
  border: none;
  margin: 0 auto;
  margin-bottom: 30px;
}
.comments__button:hover {
  background: #838181;
}
.comments__button:active {
  background: #8e8d8a;
  box-shadow: 4px 4px 30px #8e8d8a;
}
.comments__text-span {
  color: #7BA7AB;
  font-size: 15px;
}