/*сброс стилей браузера*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eae7dc;
}
/*стили для всей стр*/
.container {
  max-width: 1900px;
  padding: 50px 15px;
  margin: 0 auto;
}
/*Кнопка*/
.info__btn-top {
 display: block;
 padding: 8px 0;
 border-radius: 10px;
 max-width: 130px;
 width: 100%;
 font-family: "Raleway", sans-serif;
 font-size: 18px;
 text-align: center;
 line-height: 20px;
 font-weight: 900;
 text-transform: uppercase;
 text-decoration: none;
 border: none;
 background-color: #e98074;
 color: #eae7dc;
}
.info__btn-top:hover {
  background-color: #e85a4f;
}
.info__btn-top:active {
  background: #e98074;
  box-shadow: 4px 4px 30px #e98074;
}
.game__wrapper-top {
  margin-bottom: 30px;
}
/*блок 1*/
/*заголовок*/
.game__header {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8e8d8a;
}
/*три колонки в блоке*/
.game__wrapper-info1 {
  display: flex;
  justify-content: start;
  column-gap: 15px;
  margin-bottom: 10px;
}
.game__wrapper-info2 {
  display: flex;
  justify-content: start;
  column-gap: 15px;
  margin-bottom: 10px;
}
/*текст возле кнопок*/
.info__text {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: #8e8d8a;
  line-height: 28px;
  font-weight: 700;
  max-width: 220px;
  width: 100%;
}
/*две кнопки*/
.info__btn {
  display: block;
  padding: 4px 0;
  border-radius: 10px;
  max-width: 130px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #eae7dc;
  background-color: #8e8d8a;
  border: none;
}
.info__btn:hover {
  background: #838181;
}
.info__btn:active {
  background: #8e8d8a;
  box-shadow: 4px 4px 30px #8e8d8a;
}
/*Картинка над кнопкой*/
.button__wrap {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.button__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button__price_rating{
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  color: #e98074;
  line-height: 28px;
  font-weight: 700;
  max-width: 150px;
  width: 100%;
  text-align: center;
  margin:  0 auto;
  margin-bottom: 10px;
  }
/*кнопка*/
.button__btn {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #eae7dc;
  background-color: #e98074;
  border: none;
  margin-bottom: 50px;
}
.button__btn:hover {
  background-color: #e85a4f;
}
.button__btn:active {
  background: #e98074;
  box-shadow: 4px 4px 30px #e98074;
}
/*пагинация*/
.pagination {
  margin:  0 auto;
  justify-content: center;
  display: flex;
  font-size: 18px;
  margin-bottom: 20px;
}
/*форма*/
.search-box {
  background-color: #eae7dc;
  margin-bottom: 20px;
}