/*сброс стилей браузера*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*стили для всей стр*/
.container {
    max-width: 1900px;
    padding: 10px 15px;
    margin: 0 auto;
    position: relative;
}
/*Стили для header*/
.header {
    background-color: black;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logotype-btn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header__logotype-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header__contacts {
    display: flex;
    column-gap: 30px;
}
.header__contacts-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #0E6038;
    text-decoration: NONE;
}

/*поле с пользователем*/
.user {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.1fr;
    justify-content: space-between;
    padding: 20px 20px 0;
    align-items: center;
    column-gap: 15px;
}
.btn__back {
    display: flex;
    column-gap: 30px;
}
.header__user {
    text-align: right;
}
/*Кнопки регистрации, login/logout*/
.user__wrapper-top {
    display: flex;
    justify-content: end;
    column-gap: 15px;
}
.user__btn-top {
    padding: 4px;
    border-radius: 10px;
    max-width: 140px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    line-height: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #eae7dc;
    background-color: #0E6038;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Приветственный текст*/
.greeting__text {
    font-family: "Raleway", sans-serif;
    line-height: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #8e8d8a;
    margin-bottom: 10px;
}
.greeting__text-span {
    color: #0E6038;
    font-size: 26px;
}

/*Стили для страницы с информацией*/
.main {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 137px 0;
}
.main::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
/*Список всех направлений*/
.main__list-wrap {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
/*Элементы списка-Строка с направлением*/
.main__list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    column-gap: 30px;
}
/*Направление*/
.main__direction {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
}
.main__btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
/*Стили для footer*/
.footer {
    background-color: black;
}
.footer_contacts{
    display: flex;
    justify-content: center;
    column-gap: 10px; /*расстояние между иконками*/
    margin-bottom: 10px; /*расстояние до текста*/
}
.footer_contacts-link{
    display: flex;
    justify-content: center;
    align-item: center;
    width: 35px;
    height: 35px;
}
.footer__text {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

/*Стили для страницы с информацией*/
.contacts {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 150px 99px; /* НЕ правильно выставлять так левую границу*/
}
.contacts::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
.contacts__info {
    margin: 0 auto; /* НЕ работает*/
    margin-bottom: 50px;
}
.contacts__title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contacts__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 5px;
}

/*Стили для страницы с датами и поездками*/
.daytime {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 150px 100px; /* НЕ правильно выставлять так левую границу*/
}
.daytime::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.daytime__title {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    color: white;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}
.daytime__info{
   display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;

}
.daytime__date-btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    max-width: 115px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
.daytime__date {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.daytime__list-wrap{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.daytime__tabletop {
    padding: 10px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: #8e8d8a;
    line-height: 24px;
    font-weight: 500;
}
.daytime__trip {
    padding: 10px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 22px;
    font-weight: 500;
}
.daytime__trip-btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}