/*сброс стилей браузера*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*стили для всей стр*/
.container {
    max-width: 1900px;
    padding: 10px 15px;
    margin: 0 auto;
    position: relative;
}
/*Стили для header*/
.header {
    background-color: black;
}
/*Обертка для header*/
.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Кнопка логотип в header*/
.header__logotype-btn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*Картинка логотипа в header*/
.header__logotype-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Обертка для Личн.каб в header*/
.header__contacts {
    display: flex;
    column-gap: 30px;
}
/*Кнопка Личн.каб. в header*/
.header__contacts-btn {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #0E6038;
    text-decoration: NONE;
}
/*поле с пользователем*/
.user {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.1fr;
    justify-content: space-between;
    padding: 20px 20px 0;
    align-items: center;
    column-gap: 15px;
}
.btn__back {
    display: flex;
    column-gap: 30px;
}
.header__user {
    text-align: right;
}
/*Кнопки регистрации, login/logout*/
.user__wrapper-top {
    display: flex;
    justify-content: end;
    column-gap: 15px;
}
/*Кнопки входа,регистр. в header*/
.user__btn-top {
    padding: 4px;
    border-radius: 10px;
    max-width: 140px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    line-height: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #eae7dc;
    background-color: #0E6038;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Приветственный текст*/
.greeting__text {
    font-family: "Raleway", sans-serif;
    line-height: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #8e8d8a;
    margin-bottom: 10px;
}
.greeting__text-span {
    color: #0E6038;
    font-size: 26px;
}
/*Стили для страницы с информацией*/
.main {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 137px 0;
}
.main::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
/*Список всех направлений*/
.main__list-wrap {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
/*Элементы списка-Строка с направлением*/

/*Направление*/
.main__direction {
    padding: 16.4px 15px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
}
/*Кнопка Перейти*/
.main__btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
/*Стили для footer*/
.footer {
    background-color: black;
}
/*Обертка для кнопок в футере*/
.footer_contacts{
    display: flex;
    justify-content: center;
    column-gap: 10px; /*расстояние между иконками*/
    margin-bottom: 10px; /*расстояние до текста*/
}
/*Кнопки в футере*/
.footer_contacts-link{
    display: flex;
    justify-content: center;
    align-item: center;
    width: 35px;
    height: 35px;
}
/*Текст в футере*/
.footer__text {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
/*Стили для страницы с информацией*/
.contacts {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 150px 99px; /* НЕ правильно выставлять так левую границу*/
}
.contacts::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
/*Обертка в контактах*/
.contacts__info {
    margin: 0 auto; /* НЕ работает*/
    margin-bottom: 50px;
}
/*Заголовки в контактах*/
.contacts__title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}
/*Осн. текст в контактах*/
.contacts__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 5px;
}
/*Стили для страницы с датами и поездками*/
.daytime {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 150px 100px; /* НЕ правильно выставлять так левую границу*/
}
.daytime::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*Заголовок*/
.daytime__title {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    color: white;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
}
/*Обертка для дат*/
.daytime__info{
   display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
/*Даты*/
.daytime__date-btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    max-width: 115px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
/*Поездки определ. даты*/
.daytime__date {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
/*Обертка для табл. с поездками определ. даты*/
.daytime__list-wrap{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
/*Заголовки ячеки Табл. с поездками определ. даты*/
.daytime__tabletop {
    padding: 10px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: #8e8d8a;
    line-height: 24px;
    font-weight: 500;
}
/*Ячейки Табл. с поездками определ. даты*/
.daytime__trip {
    padding: 10px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 22px;
    font-weight: 500;
}
/*Кнопка забронировать поездку определ. даты*/
.daytime__trip-btn {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
/*Стили для страницы с бронированием поездки*/
.booking {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 150px 99px; /* НЕ правильно выставлять так левую границу*/
}
.booking::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    }
/*Форма для бронирования поездки*/
.booking__form {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
/*Обертка для бронирования поездки*/
.booking__form-wrap {
  padding: 20px 20px 0;
}
/*Название поездки для бронирования*/
.booking__title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
/*Текст известных полей для бронирования*/
.booking__info {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 3px;
    text-align: center;
}
.booking__info:last-child {
    margin-bottom: 10px;
}
/*Текст формы полей для бронирования*/
.booking__text {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
 }
.booking__form-group {
    margin-bottom: 30px;
}
/*Поля для ввода формы для бронирования*/
.booking__form-input {
    background-color: rgb(255, 255, 255, 0.5);
	vertical-align: top;
	outline: none;
	padding: 0;
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
	border-radius: 3px;
	width: 150px;
	margin-bottom: 15px;
}
/*Поле с цифрами формы для бронирования*/
.booking__form-input__num {
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	width: 50px;
}
/*Поле с коммент. формы для бронирования*/
.booking__form-input__area{
    width: 404px;
    height: 125px;
    resize: none;
    padding: 5px;
}
/*Фокусиравоние при нажатии формы для бронирования*/
.booking__form-input:focus {
  box-shadow: 0 0 10px #0E6038;
  border: none;
  outline: none;
}
/*Кнопка забронировать формы для бронирования*/
.booking__form-btn {
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    background-color: #0E6038;
    color: white;
    border: none;
    border-radius: 0 0 5px 5px;
}
/*Страница с билетом после бронирования*/
.booking__info-wrap {
  margin: 0 auto;
  margin-bottom: 50px;
}
/*Страница после неуспешного бронирования*/
.booking__impossible-wrap{
 margin: 0 auto;
  margin-bottom: 242px;
}
/*Выделение слов в тексте после бронирования*/
.booking__text-green {
color: #0E6038;
}
/*Кнопка вернуться после бронирования*/
.booking__text-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
/*Стили для страницы с аккаунтом*/
.account {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 50px 10px 130px;
}
.account::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*Обертка аккаунта*/
.account__wrap {
    display:grid;
    grid-template-columns: 0.4fr 1fr;
}
/*Заголовок аккаунта*/
.account__title {
   font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
/*Информация о польз. аккаунта*/
.account__userinfo {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 30px;
}
/*Табл. аккаунта*/
.account__table-wrap {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*Заголовок ячеек Табл. аккаунта*/
.account__tabletop {
    padding: 10px 15px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: #8e8d8a;
    line-height: 24px;
    font-weight: 500;
}
/*Ячейка Табл. аккаунта*/
.account__text {
    padding: 10px 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: white;
    line-height: 22px;
    font-weight: 500;
}
/*Отменить поездку в аккаунте*/
.account__btn-remove {
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 110px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0E6038;
    border: none;
}
/*Если нет поездок в аккаунте*/
.account__text-notrip{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    color: white;
    line-height: 24px;
    font-weight: 500;
}
/*Билет*/
.ticket {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 24rem;
}
/*Заголовок билета*/
.ticket__header {
    padding: 1.25rem;
    background-color: hsl(200, 0%, 100%);
    border: 1px solid hsl(200, 10%, 70%);
    box-shadow: 0 2px 4px hsla(200, 20%, 20%, 0.25);
}
/*Тело билета*/
.ticket__body {
    padding: 1.25rem;
    background-color: hsl(200, 0%, 100%);
    border: 1px solid hsl(200, 10%, 70%);
    box-shadow: 0 2px 4px hsla(200, 20%, 20%, 0.25);
}
/*Футер билета*/
.ticket__footer {
    padding: 1.25rem;
    background-color: hsl(200, 0%, 100%);
    border: 0.25px solid hsl(200, 10%, 70%);
    box-shadow: 0 2px 4px hsla(200, 20%, 20%, 0.25);
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 0.325rem 0.325rem;
}
/*Хеадер билета*/
.ticket__header {
    font-size: 1.5rem;
    border-top: 0.25rem solid red;
    border-bottom: none;
    box-shadow: none;
}