{% extends 'base.html' %}

{% load static %}
{% block content %}
<body>
    <div class="account">
        <div class="container">
            <div class="account__wrap">
                <div class="account__user">
                    <h3 class="account__title">{{ user.get_full_name }}</h3><br>
                    <h3 class="account__title">Информация о пользователе</h3>
                    <h3 class="account__title">Username: {{ user.username }}</h3>
                    <h3 class="account__title">Моб. телефон: {{ user.phone }}</h3>
                    <h3 class="account__title">Дата рождения: {{ user.date_of_birth }}</h3>
                    <h3 class="account__title">Email: {{ user.mail }}</h3>
                    <h3 class="account__title">Дата регистрации: {{ user.date_joined }}</h3>
                </div>
            {% if user_trips %}
                <div class="account__info">
                    <h3 class="account__title">Информация о поездках</h3>
                        <table class="account__table-wrap">
                            <tr class="account__table-item">
                                <th class="account__tabletop">Направление</th>
                                <th class="account__tabletop">Дата поездки</th>
                                <th class="account__tabletop">Время отправления</th>
                                <th class="account__tabletop">Время прибытия</th>
                                <th class="account__tabletop">Номер остановки</th>
                                <th class="account__tabletop">Места</th>
                                <th class="account__tabletop">Цена</th>
                            </tr>
                        {% for trip in user_trips %}
                            <tr class="account__table-item">
                                <th class="account__text">{{ trip.get_direction }}</th>
                                <th class="account__text">{{ trip.date_of_the_trip }}</th>
                                <th class="account__text">{{ trip.departure_time }}</th>
                                <th class="account__text">{{ trip.arrival_time_calculation }}</th>
                                <th class="account__text">{{ trip.landing_place }}</th>
                                <th class="account__text">{{ trip.number_of_reserved_places }}</th>
                                <th class="account__text">{{ trip.get_full_price }} BYN</th>
                            </tr>
                        </table>
                        <div class="account__list">
                            <div class="account__list-item">
                            <p class="account__text-left account__text-left_top">Информация о перевозчике: {{ trip.car_info_in_trip.name }}, гос.номер {{ trip.car_info_in_trip.auto_number }}, {{ trip.car_info_in_trip.carrier_phone }}</p>
                        {% if trip.user_comment %}
                            <p class="account__text-left">Комментарий: {{ trip.user_comment}}</p>
                        {% else %}
                            <p class="account__text-left">Комментарий: &nbsp;</p>
                        {% endif %}
                            </div>
                            <div class="account__list-item">
                                <a class="account__btn-remove" href="{% url 'booking:trip_remove' trip.id %}">Отменить поездку</a>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                    <div class="account__info">
                        <h3 class="account__title">Информация о поездках</h3>
                            <h4 class="account__text-notrip">
                                У вас нет забронированных поездок
                            </h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock  %}