{% extends 'base.html' %}

{% load static %}
{% block content %}
<body>
    <p>{{ user.get_full_name }}</p>

    {% if user_trips %}
        <div class="user_trip_info">
            <ul class="user_trip__list-wrap">
                {% for trip in user_trips %}
                    <li class="user_trip__list-item">
                        <p class="user_trip_item">Направление: </p>
                        <p class="user_trip_item">Дата: {{ trip.date_of_the_trip}}</p>
                        <p class="user_trip_item">Время отправления: {{ trip.departure_time }}</p>
                        <p class="user_trip_item">Время прибытия: {{ trip.arrival_time_calculation }}</p>
                        <p class="user_trip_item">Номер остановки: {{ trip.landing_place}}</p>
                        {% if trip.user_comment %}
                            <p class="user_trip_item">Комментарий: {{ trip.user_comment}}</p>
                        {% else %}
                            <p class="user_trip_item">Комментарий: &nbsp;</p>
                        {% endif %}
                        <p class="user_trip_item">{{ trip.number_of_reserved_places}}</p>
                        <p class="user_trip_item">{{ trip.get_full_price }}</p>
                        <p class="user_trip_item">{{ trip.car_info_in_trip.name }}</p>
                        <p class="user_trip_item">{{ trip.car_info_in_trip.auto_number }}</p>
                        <p class="user_trip_item">{{ trip.car_info_in_trip.carrier_phone }}</p>
                        <a class="user_trip__remove" href="{% url 'booking:trip_remove' trip.id %}">Отменить</a>
                    </li>
                {% endfor %}
                </ul>
        </div>
    {% else %}
        <h4 class="user_trip__empty">
            У вас нет забронированных поездок
        </h4>
    {% endif %}
</body>

{% endblock  %}