{% extends 'base.html' %}

{% block content %}
<body>
    <div class="booking">
        <div class="container">
            <div class="booking__info-wrap">
                <p  class="booking__text">Вы уже забронировали поездку на выбранные Вами дату и время.</p>
                <p  class="booking__text">Вы можете увидеть подробную информацию о ней в своем личном кабинете.</p>
            </div>

            <a class="booking__text booking__text-btn" href="{% url 'booking:index' %}">Вернуться на главную страницу</a>
        </div>
    </div>
</body>

{% endblock  %}