{% extends 'base.html' %}

{% block content %}
<body>
    <div class="basket_info">
        <ul class="basket__list-wrap">
            <li class="basket__list-item">
                <p class="basket_game">    Офис: г. Пинск, ул. Костюшко, 23, кв. 25 </p>
                <p class="basket_game">    Группа Вконтакте: vk.com/bus_by </p>
                <p class="basket_game">    Инстаграм: @bus_by </p>
                <p class="basket_game">    Электронная почта: info@busby.by </p>
                <p class="basket_game">    Бронирование мест </p>
                <p class="basket_game">    a1	+375 44 311-22-13 mts	+375 29 233-55-33 </p>
                <p class="basket_game">    Диспетчерская работает с 08:00 до 21:00 ежедневно без выходных. Онлайн заказ доступен круглосуточно.
                </p>
            </li>
        </ul>
    </div>
</body>

{% endblock  %}