{% extends 'base.html' %}

{% block content %}
<body>
    <div class="contacts">
        <div class="container">
            <div class="contacts__info">
                <h3 class="contacts__title">Контакты</h3>
                <p class="contacts__text">    Офис: г. Пинск, ул. Костюшко, 23, кв. 25 </p>
                <p class="contacts__text">    Группа Вконтакте: vk.com/bus_by </p>
                <p class="contacts__text">    Инстаграм: @bus_by </p>
                <p class="contacts__text">    Электронная почта: info@busby.by </p>
            </div>
            <div class="contacts__booking">
                <h3 class="contacts__title">Бронирование мест</h3>
                <p class="contacts__text">    a1	+375 44 311-22-13 mts	+375 29 233-55-33 </p>
                <p class="contacts__text">    Диспетчерская работает с 08:00 до 21:00 ежедневно без выходных. Онлайн заказ доступен круглосуточно.
                </p>
            </div>
        </div>
    </div>
</body>

{% endblock  %}