{% extends 'base.html' %}

{% block content %}
<body>
<main>
    <section class="main">
        <div class="container">
            <table class="main__list-wrap">
                <tr class="main__list-item">
                    <th class="main__direction">Направление</th>
                    <th class="main__direction">Время в пути</th>
                    <th class="main__direction">Цена</th>
                    <th class="main__direction">&nbsp;</th>

                </tr>
                {% for direction in directions %}
                <tr class="main__list-item">
                    <td class="main__direction">{{ direction.name }}</td>
                    <td class="main__direction">{{ direction.format_travel_time }}</td>
                    <td class="main__direction">от {{ direction.min_price }} BYN</td>
                    <td><a class="main__btn" href="{% url 'booking:direction' direction_slug=direction.slug date_route=today %}">Перейти</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</main>
</body>

{% endblock  %}