{% extends 'base.html' %}

{% block content %}
<body>
<main>
    <section class="directions">
        <div class="container">
            {% for direction in directions %}
                {{ direction.name }}
                {{ direction.format_travel_time }}
                {{ direction.min_price }}
                <a class="go_direction__btn" href="{% url 'booking:direction' direction_slug=direction.slug date_route=today %}">Перейти</a> <br>
            {% endfor %}
        </div>
    </section>
</main>
</body>

{% endblock  %}