{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
<div class="booking">
    <div class="container">
      <form class="booking__form" action="" method="post">
          {% csrf_token %}
            <div class="booking__form-wrap">
              <h2 class="booking__title">Бронирование</h2>
                <div class="booking__form-group">
                    <p class="booking__info">  {{ direction }}</p>
                    <p class="booking__info">  {{ day}}</p>
                    <p class="booking__info">  {{ time }}</p>
                    <p class="booking__info">  {{ user.phone }}</p>
                    <p class="booking__info">  {{ user.get_full_name }}</p>
                </div>
                <div class="booking__form-group">
                  {% for field in form %}
                    <h3 class="booking__text"> {{ field.label_tag }}</h3>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  {% endfor %}
                    <input class="booking__form-btn" type="submit" value="Забронировать">
              </div>
            </div>
      </form>
    </div>
</div>
</body>

{% endblock  %}