{% extends 'base.html' %}

{% load static %}
{% block content %}
<body>
<main>
    <div class="basket">
        <h3 class="baskets_text">Shopping Basket</h3>
        {% if baskets %}
            <div class="basket_info">
                <ul class="basket__list-wrap">
                    {% for basket in baskets %}
                        <li class="basket__list-item">
                            <p class="basket_game">{{ basket.game }}</p>
                            <p class="basket_game">{{ basket.game.price }} $</p>
                            <a class="basket__remove" href="{% url 'shop:basket_remove' basket.game.slug %}">
                                <img class="basket__remove-svg" src="{% static 'remove.svg' %}" alt="remove" >
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="basket__total">
                    <p class="basket__total-el">Total:</p>
                    <p class="basket__total-el">{{ baskets.0.total_quantity }}</p>
                    <p class="basket__total-el">{{ baskets.0.total_sum }} $</p>
                </div>
                <a class="basket__checkout" href="{% url 'shop:basket_order' %}">
                    Place your order
                </a>
            </div>
        {% else %}
            <h4 class="basket__empty">
                Shopping Basket is empty
            </h4>
        {% endif %}
</main>
</body>
{% endblock %}