{% extends 'base.html' %}

{% block content %}
<body>
<main>
    <section class="game">
        <div class="container">
            <h2 class="game__header">games</h2><br>
            <h2 class="game__header">Category - {{ category }}</h2><br>
            {% for game in games_from_category %}

            <div class="button__wrap">
                <img class="button__image" src="{{ game.game_image.url }}" alt="{{ game.name }}">
            </div>
            <div class="game__wrapper game__wrapper-button">
                <a class="button__btn" href="{% url 'shop:game' game.slug %}">{{ game.name }}</a>
            </div>

            {% endfor %}
        </div>
    </section>
</main>
</body>

{% endblock  %}