{% extends 'base.html' %}

{% block content %}
<body>
<main>
    <section class="category">
        <div class="container">
            <h2 class="category__header">Categories</h2>
            {% for category in categories %}

            <div class="category_wrapper">
                <a class="category__btn" href="{% url 'shop:category' category.slug %}">{{ category.title }}</a>
            </div>

            <p class="category__text">{{ category.description|safe }}</p>

            {% endfor %}
        </div>
    </section>
</main>
</body>

{% endblock  %}