<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--подключение стилей-->
    <link rel="stylesheet" href="{% static "css/game.css" %}" />

    <!--подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Game</title>
  </head>
  <body>
    <main>
      <section class="image">
        <div class="container container__image">
          <div class="image__wrapper-photo">
            <img class="image__img" src="{{ game.game_image.url }}" alt="{{ game.name }}">
          </div>
          <div class="image__wrapper-info">
            <h2 class="image__header">{{ game.name }}</h2>
            <p class="image__subtitle">Category: {{ game.category }}</p>
            <p class="image__subtitle">Release date: {{ game.release_date }}</p><br>
            <p class="image__subtitle">Price: {{ game.price }}$ </p>
            {% if game.get_average_rating.rating__avg is not None %}
            <p class="image__subtitle">Rating: {{ game.get_average_rating.rating__avg|floatformat:2 }}/10 &#11088;</p>
            {% endif %}
          </div>
        </div>
      </section>
      <section class="info">
        <div class="container container__info">
          <h2 class="info__header">Description about game</h2>
          <p class="info__subtitle">{{ game.description|safe }}</p>
        </div>
      </section>
        <section class="comments">
          {% if user.is_authenticated %}
          <a class="comments__button" href="{% url 'shop:comment-add' game_slug=game.slug %}">Add comment</a>
          {% endif %}
          {% for comment in comments %}
            <div class="container container__comments">
            <p class="comments__text">{{ comment.text }}</p>
            <p class="comments__text"><span class="comments__text comments__text-span">{{ comment.author }}</span> : {{ comment.rating }} &#11088;</p>
              {% if user == comment.author %}
                <a href="{% url 'shop:comment-delete' comment.id %}">Delete comment</a>
                <a href="{% url 'shop:comment-update' comment.id %}">Update comment</a>
              {% endif %}
            </div>
          {% endfor %}
        </section>
    </main>
  </body>
</html>