<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--подключение стилей-->
    <link rel="stylesheet" href="{% static "css/style_games_home_page.css" %}" />

    <!--подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Games</title>
  </head>
    <body>
      <main>
        <section class="game">
          <div class="container">
            <h2 class="game__header">games</h2>
            <div class="game__wrapper game__wrapper-top">
              <a class="info__btn-top" href="{% url 'shop:categories' %}">Categories</a>
            </div>
            <div class="game__wrapper game__wrapper-info1">
              <p class="info__text">Sort ascending:</p>
              <a class="info__btn" href="{% url 'shop:or-index' order_by='name-asc' %}">Name ↓ </a>
              <a class="info__btn" href="{% url 'shop:or-index' order_by='price-asc' %}">Price ↓ </a>
            </div>
            <div class="game__wrapper game__wrapper-info2">
              <p class="info__text">Sort descending:</p>
              <a class="info__btn" href="{% url 'shop:or-index' order_by='name-desc' %}">Name ↑ </a>
              <a class="info__btn" href="{% url 'shop:or-index' order_by='price-desc' %}">Price ↑ </a>
            </div>
            <div class="search__box">
              <form action="{% url 'shop:index' %}" method="get">
                <input class="field__search" type="search" type="text" name="q" placeholder="Search games by name">
                <button class="btn__search" type="submit">Search</button>
              </form>
            </div>
            {% for game in page_obj %}

            <div class="button__wrap">
              <img class="button__image" src="{{ game.game_image.url }}" alt="{{ game.name }}">
            </div>
            <p class="button__price_rating">{{ game.price }} $</p>
            {% if game.get_average_rating.rating__avg is not None %}
            <p class="button__price_rating">{{ game.get_average_rating.rating__avg }}/10 &#11088;</p>
            {% endif %}
            <div class="game__wrapper game__wrapper-button">
              <a class="button__btn" href="{% url 'shop:game' game.slug %}">{{ game.name }}</a>
            </div>

            {% endfor  %}
          </div>

            <div class="pagination">
              <span class="step-links">
                {% if page_obj.has_previous %}
                  <a href="?page=&order_by={{ order_by }}">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}&order_by={{ order_by }}">previous</a>
                {% endif %}

                <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}&order_by={{ order_by }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}&order_by={{ order_by }}">last &raquo;</a>
                {% endif %}
              </span>
            </div>

        </section>
      </main>
    </body>
</html>