{% extends 'base.html' %}

{% block content %}

<body>
<main>
    <section class="image">
        <div class="container container__image">
          <div class="image__wrapper-photo">
            <img class="image__img" src="{{ game.game_image.url }}" alt="{{ game.name }}">
          </div>
          <div class="image__wrapper-info">
            <h2 class="image__header">{{ game.name }}</h2>
            <p class="image__subtitle">Category: {{ game.category }}</p>
            <p class="image__subtitle">Release date: {{ game.release_date }}</p><br>
            <p class="image__subtitle">Price: {{ game.price }}$ </p>
            {% if game.get_average_rating.rating__avg is not None %}
              <p class="image__subtitle">Rating: {{ game.get_average_rating.rating__avg|floatformat:2 }}/10 &#11088;</p>
            {% endif %}
            {%if last_visited%}
              <p class="cookies__subtitle">You viewed the page {{ view_count }} times, the last one was on : {{ last_visited }}</p>
            {% endif %}
              <div class="container container__comments">
                  <a class="basket__add" href="{% url 'shop:basket_add' game.slug %}">Add to basket</a>
              </div>
          </div>
        </div>
    </section>
    <section class="info">
        <div class="container container__info">
            <h2 class="info__header">Description about game</h2>
            <p class="info__subtitle">{{ game.description|safe }}</p>
        </div>
    </section>
    <section class="comments">
        {% if user.is_authenticated %}
            {% if not author_comment %}
                <a class="comments__button" href="{% url 'shop:comment-add' game_slug=game.slug %}">Add comment</a>
            {% else %}
                {% for comment in author_comment %}
                    <div class="container container__comments">
                        <p class="comments__text">{{ comment.text }}</p>
                        <p class="comments__text"><span class="comments__text comments__text-span">{{ comment.author }}</span> : {{ comment.rating }} &#11088;</p>
                        <a class="comments__btn" href="{% url 'shop:comment-delete' comment.id %}">Delete comment</a>
                        <a class="comments__btn" href="{% url 'shop:comment-update' comment.id %}">Update comment</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% for comment in another_comments %}
        <div class="container container__comments">
            <p class="comments__text">{{ comment.text }}</p>
            <p class="comments__text"><span class="comments__text comments__text-span">{{ comment.author }}</span> : {{ comment.rating }} &#11088;</p>
        </div>
        {% endfor %}
    </section>
</main>
</body>

{% endblock  %}