{% extends 'base.html' %}

{% block content %}
<body>
<main>
    <section class="game">
        <div class="container">
            <h2 class="game__header">games</h2>
            <div class="game__wrapper game__wrapper-info1">
                <p class="info__text">Sort ascending:</p>
                <a class="info__btn" href="{% url 'shop:or-index' order_by='name-asc' %}">Name ↓ </a>
                <a class="info__btn" href="{% url 'shop:or-index' order_by='price-asc' %}">Price ↓ </a>
            </div>
            <div class="game__wrapper game__wrapper-info2">
                <p class="info__text">Sort descending:</p>
                <a class="info__btn" href="{% url 'shop:or-index' order_by='name-desc' %}">Name ↑ </a>
                <a class="info__btn" href="{% url 'shop:or-index' order_by='price-desc' %}">Price ↑ </a>
            </div>
            <div class="search__box">
                <form action="{% url 'shop:index' %}" method="get">
                    <input class="field__search" type="search" type="text" name="q" placeholder="Search games by name">
                    <button class="btn__search" type="submit">Search</button>
                </form>
            </div>
            {% for game in page_obj %}

            <div class="button__wrap">
                <img class="button__image" src="{{ game.game_image.url }}" alt="{{ game.name }}">
            </div>
            <p class="button__price_rating">{{ game.price }} $</p>
            {% if game.get_average_rating.rating__avg is not None %}
            <p class="button__price_rating">{{ game.get_average_rating.rating__avg|floatformat:2 }}/10 &#11088;</p>
            {% endif %}
            <div class="game__wrapper game__wrapper-button">
                <a class="button__btn" href="{% url 'shop:game' game.slug %}">{{ game.name }}</a>
            </div>

            {% endfor %}

            <div class="pagination">
                {% if page_obj.has_other_pages %}
                <nav class="list-pages">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li class="page-num">
                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                        </li>
                        {% endif %}

                        {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-num">
                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
</main>
</body>

{% endblock  %}