<footer class="footer">
    <div class="container">
        <div class="footer_contacts">
            <a class="footer_contacts-link" href="https://www.instagram.com/">Instagram</a>
            <a class="footer_contacts-link" href="https://vk.com/">Вконтакте</a>
            <a class="footer_contacts-link" href="https://mail.ru/">Mail</a>
        </div>
        <div class="footer__wrap">
            <p class="footer__text">Copyright © 2023 Travel booking service. All Rights Reserved
                Made with by Pavel Zolotov</p>
        </div>
    </div>
</footer>