{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer_contacts">
            <a class="footer_contacts-link" href="https://www.instagram.com/"><img src="{% static 'instagram.svg' %}"></a>
            <a class="footer_contacts-link" href="https://vk.com/"><img src="{% static 'vk.svg' %}"></a>
            <a class="footer_contacts-link" href="https://mail.yandex.ru/"><img src="{% static 'yandex.svg' %}"></a>
        </div>
        <div class="footer__wrap">
            <p class="footer__text">Copyright © 2023 Travel booking service. All Rights Reserved
                Made with by Pavel Zolotov</p>
        </div>
    </div>
</footer>