{% load static %}
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__logotype">
                <a class="header__logotype-btn" href="{% url 'booking:index' %}">
                    <img class="header__logotype-img" src="{% static 'logo.png' %}" alt="BusBY"></a>
            </div>
            <div class="header__contacts">
                <a class="header__contacts-btn" href="{% url 'booking:account' %}">Личный кабинет</a>
                <a class="header__contacts-btn" href="{% url 'booking:contacts' %}">Контакты</a>
            </div>
            <div class="header__user">
                {% if user.is_authenticated %}
                <p class="greeting__text">Приветствуем, <span class="greeting__text greeting__text-span">{{ user.first_name }} {{ user.last_name }}</span>.
                    Спасибо, что вошли на сервис! </p>
                <div class="user__wrapper user__wrapper-top">
                    <a class="user__btn-top" href="{% url 'users:logout' %}">Выйти</a>
                    <a class="user__btn-top" href="{% url 'users:change' %}">Сменить пароль</a>
                </div>
                {% else %}
                <p class="greeting__text">Приветствуем, нового пользователя. Пожалуйста, войдите на сервис.</p>
                <div class="user__wrapper user__wrapper-top">
                    <a class="user__btn-top" href="{% url 'users:register' %}">Регистрация</a>
                    <a class="user__btn-top" href="{% url 'users:login' %}">Войти</a>
                    <a class="user__btn-top" href="{% url 'account_login' %}">Войти через другие сервисы</a>
                </div>
                {% endif %}
            </div>
        </div>
   </div>
</header>