{% load static %}
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__logotype">
                <a class="header__logotype-btn" href="{% url 'booking:index' %}">
                    <img class="header__logotype-img" src="{% static 'logo.png' %}" alt="BusBY"></a>
            </div>
            <div class="header__contacts">
                <a class="header__contacts-btn" href="{% url 'booking:contacts' %}">Контакты</a>
            </div>
            <div class="header__user">
                <a class="header__register-btn" href="{% url 'users:register' %}">Регистрация</a>
            </div>
        </div>
   </div>
</header>