<!DOCTYPE html>
{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/css/bootstrap.min.js' %}"></script>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--подключение стилей-->
    <link rel="stylesheet" href="{% static "css/form.css" %}" />

    <!--подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
</head>
<body>
    <section class="form">
      <div class="container">
        <form method="post">
          {% csrf_token %}
          <div class="form__wrapper">
            <h2 class="form__title">Войти</h2>
              {% for f in form %}
            <div class="form__wrap-input" ><label class="form__label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div>
            <div class="form__error">{{ f.errors }}</div>
            {% endfor %}
            <input class="form__btn" type="submit" value="Sign In">
            <a class="form__link" href="{% url 'users:pass-reset' %}">Забыли пароль?</a>
            <a class="form__link" href="{% url 'users:register' %}">Регистрация</a>
            <a class="form__link" href="{% url 'booking:index' %}">Вернуться на главную страницу</a>
        </form>
      </div>
    </section>
</body>
</html>