<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--подключение стилей-->
    <link rel="stylesheet" href="{% static "css/game.css" %}" />

    <!--подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Game</title>
  </head>
  <body>
    <main>
      <section class="image">
        <div class="container container__image">
          <div class="image__wrapper-photo">
            <img class="image__img" src="{{ game.game_image.url }}" alt="{{ game.name }}">
          </div>
          <div class="image__wrapper-info">
            <h2 class="image__header">{{ game.name }}</h2>
            <p class="image__subtitle">Category: {{ game.category }}</p>
            <p class="image__subtitle">Release date: {{ game.release_date }}</p><br>
            <p class="image__subtitle">Price: {{ game.price }}$</p>
          </div>
        </div>
      </section>
      <section class="info">
        <div class="container container__info">
          <h2 class="info__header">Description about game</h2>
          <p class="info__subtitle">{{ game.description }}</p>
        </div>
      </section>
    </main>
  </body>
</html>