{% load static %}
<header class="user">
    <div class="btn__back">
        <div class="game__wrapper game__wrapper-top">
            <a class="info__btn-top" href="{% url 'shop:categories' %}">Categories</a>
        </div>
        <div class="game__wrapper game__wrapper-top">
            <a class="info__btn-top" href="{% url 'shop:index' %}">Games</a>
        </div>
    </div>
    <div class="user__greetings">
        {% if user.is_authenticated %}
        <p class="greeting__text">Welcome, <span class="greeting__text greeting__text-span">{{ user.username }}</span>.
            Thanks for logging in. </p>
        <div class="user__wrapper user__wrapper-top">
            <a class="user__btn-top" href="{% url 'users:logout' %}">Logout</a>
            <a class="user__btn-top" href="{% url 'users:change' %}">Change password</a>
        </div>
        {% else %}
        <p class="greeting__text">Welcome, new user. Please log in.</p>
        <div class="user__wrapper user__wrapper-top">
            <a class="user__btn-top" href="{% url 'users:register' %}">Register</a>
            <a class="user__btn-top" href="{% url 'users:login' %}">Login</a>
            <a class="user__btn-top" href="{% url 'account_login' %}">GitHub</a>
            <a class="user__btn-top" href="{% url 'account_login' %}">Steam</a>
        </div>
        {% endif %}
    </div>
        <div class="basket">
       <div class="basket__wrapper">
            <a class="basket__link" href="{% url 'shop:basket' %}">
                <img class="basket__svg" src="{% static 'basket.svg' %}" alt="Basket" >
            </a>
       </div>
   </div>
</header>