body {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #ecf0f9;
    background-attachment: fixed;
}
h1 {
    color: rgb(2,30,88)
}